{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <div class="container" style="padding-top:20px;">
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Do you use straws?</h4>
            <button type="button" class="btn btn-primary btn-lg">I use straws!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Do you eat meat?</h4>
            <button type="button" class="btn btn-primary btn-lg">I eat meat!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Do you fly often?</h4>
            <button type="button" class="btn btn-primary btn-lg">I love to fly!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="app">
    [[ message ]]
  </div>
  <!-- {% for factor in carbon_conversion_factors %}
    <article class="post">
      <header>
        <div>
          <h1>{{ factor['display_name'] }}</h1>
        </div>
      </header>
      <p class="body">{{ factor['id'] }}</p>
      <p class="body">{{ factor['created'] }}</p>
      <p class="body">{{ factor['api_name'] }}</p>
      <p class="body">{{ factor['input_units'] }}</p>
      <p class="body">{{ factor['input_to_co2'] }}</p>
      <p class="body">{{ factor['output_units'] }}</p>
      <p class="body">{{ factor['input_to_output'] }}</p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %} -->
  <script src="{{url_for('static', filename='carbon_conversion_factor/index.js')}}"></script>
{% endblock %}
