<!doctype html>
<title>{% block title %}{% endblock %} - Carbon Footprint</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='yeti.min.css') }}">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Carbon Footprint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      {% if g.user %}
        <li class="nav-item">
          <a class="nav-link" href='#'>{{ g.user['username'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
      {% endif %}
    </ul>
    <h6 class="display-10">A simple application that illustrates ways to offset your carbon footprint.</h1>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
